@font-face {
  font-family: "HankenGrotesk";
  src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
:root {
  --primary-red: hsl(0, 100%, 67%);
  --primary-orange-yellow: hsl(39, 100%, 56%);
  --primary-green: hsl(166, 100%, 37%);
  --primary-blue: hsl(234, 85%, 45%);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --gradient-bg-slate-blue: hsl(252, 100%, 67%);
  --gradient-bg-royal-blue: hsl(241, 81%, 54%);
  --gradient-circ-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-circ-persian-blue: hsla(241, 72%, 46%, 0);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
}

body {
  font-family: "hankenGrotesk", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--pale-blue);
}

.header {
  font-size: 1.333rem;
  font-weight: 700;
}

.padding {
  padding: 2em;
}

.container--main {
  display: flex;
  background-color: var(--white);
  border-radius: 32px;
  width: 51%;
  height: 47%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container--result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: var(--pale-blue);
  width: 50%;
  border-radius: 1.7778em;
  background: linear-gradient(to top, var(--gradient-bg-royal-blue) 0%, var(--gradient-bg-slate-blue) 100%);
}
.container--result .result--score {
  display: flex;
  background-color: var(--gradient-bg-royal-blue);
  justify-content: center;
  flex-direction: column;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.container--result .result--score-lg {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 800;
  color: white;
}
.container--result .result--score-sm {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: var(--pale-blue);
}
.container--result .result--rank {
  flex: display;
  display: column;
}
.container--result .result--rank-lg {
  font-size: 32px;
  font-weight: 700;
}
.container--result .result--rank-sm {
  font-size: 1rem;
  font-weight: 500;
  color: var(--pale-blue);
  line-height: normal;
  padding: 1em 1em 0;
}
.container--summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
  width: 50%;
}
.container--summary .section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 500;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.75em;
}
.container--summary .section-row .icon-text {
  display: flex;
  flex-direction: row;
}
.container--summary .section-1 {
  background: hsla(var(--primary-red), 0.5);
  background: rgba(255, 0, 0, 0.5);
}
.container--summary .section-1:first-child p {
  color: hsl(var(--primary-red));
  color: hsla(var(--primary-red), 0.5);
}
.container--summary span {
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */